{% load static %}
<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Shock Scouting APP</title>
    <script src="{% static 'scripts/config.js' %}"></script>
    <script src="{% static 'scripts/FSscouting.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/FSscouting.css' %}">
</head>
<body>

    <p id="current_page" style="display: none;">prematch</p>

    <header>
        <p id="game_name"></p>
    </header>

    <div class="div" id="prematch"></div>

    <div class="div" id="auto" style="display: none;"></div>

    <div class="div" id="teleop" style="display: none;"></div>

    <div class="div" id="endgame" style="display: none;"></div>

    <div class="div" id="result" style="display: none;"></div>

    <form action="" method="post" id="form">
        {% csrf_token %}
    </form>

    <footer>
        <div id="sponsors">
            <p>Sponsors: </p>
            <a href="https://www.tsmc.com/english" target="_blank"><img src="{% static 'images/TSMC.webp' %}" alt="TSMC"></a>
            <a href="https://www.milwaukeetool.asia/?redirect=no" target="_blank"><img src="{% static 'images/Milwaukee.svg' %}" alt="Milwaukee"></a>
        </div>
        <p>Scounting APP made by 7130 Future Shock</p>
    </footer>
</body>
</html>